bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vscode/
*.swp
*.pidb
*.pdb
*.ncb
*.sdf
*.opensdf
*.db

[Nn]u[Gg]et/
*.nupkg
packages/

[Tt]emp/
[Ll]og/
[Ll]ogs/

[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/[Oo]bj/

*.dotCover
*.pidb
*.testlog

.idea/

**/.dockerignore
**/.env
**/.env.local

# Secrets
.env
appsettings.Production.json
appsettings.Development.json
*/appsettings.Production.json
*/appsettings.Development.json